*
{
    margin: 0;
}

.v-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.vr {
    height: 400px;
    border-left: 5px solid black;
    border-radius: 100px;
}