*
{
    /* Ignore this for the moment, you're welcome to ask what this is/does once you've finished this exercise. */
    margin: 0;
}

.v-container{
    /* Provided CSS. What happens if you comment out the justify-content line? 
       What about the align-items line?  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}